doctype
html
  head
    title Your Location
    link(rel='stylesheet' href='/public/css/index.css')
  body
    button#nearby Nearby Search
    button#dirs Directions
    input#dest
    #map-canvas

    script(src='//localhost:35729/livereload.js')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true')
    script(src='/public/js/geolocate.js')
    script(src='/public/js/nearbysearch.js')
    script(src='/public/js/directions.js')
    script(src='/public/js/views.js')
    //- script(src='/public/js/templates.js' type='template' id='templates')
    #results
    #rl
